.header-container {
  display: flex;
  align-items: center;
  width: auto;
  height: 11.25rem;
  background-image: url("../../assets/background/backgroundTop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  color: #fff;
}

.transparent {
  background: rgba(255, 255, 255, 0);
}
